@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body, html{
    width: 100%;
    margin: 0 auto;
    font-family: Montserrat;
    color: white;
    background-image: url('../Imagens_teste-master/web/bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



nav{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    line-height: 70px;
    text-align: center;
}

.logo{
    margin-left: 7.5%;
    height: 35px;
    min-height: 35px;
    min-width: 150px;
    width: 150px;
    background-image: url('../Imagens_teste-master/web/logo.png');
    background-size: 100% 100%;
    margin-top: 15px;
    background-repeat: no-repeat;
}



label{
    display: none;
    margin-top: 20px;
    position: absolute;
    left: 20px;
    cursor: pointer;
    transition: 0.5s;
}

label .line{
    display: block;
    width: 30px;
    height: 3px;
    margin-top: 4px;
    background: white;
    border-radius: 10px;
    position: relative;
    z-index: 3;
    transition: 0.5s;
}

.mobile-menu-items{
    position: absolute;
    left: -70%;
    transition: 0.5s;
    display: none;
    width: 45%;
    z-index: 2;
}

.mobile-menu-items ul.menu{
    position: relative;
    list-style-type: none;
    width: 100%;
    padding-top: 55px;
    height: 385px;
    background-color: rgba(255, 255, 255, .20);
    backdrop-filter: blur(10px);
    border-top-right-radius: 25px 25px;
    border-bottom-right-radius: 25px 25px;
    line-height: 45px;
}
hr
{
    width: 80%;
    margin: 0 auto;
}
.mobile-menu-items ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
    white-space: nowrap;
}


.mobile-menu-items ul li a:not('.submenu'){
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.mobile-menu-items ul li span{
    transform: rotateZ(180deg);
}

.mobile-menu-items ul li{
    font-weight: 300px;
    -moz-user-select:none;
    -webkit-user-select:none;
}

.submenu{
    padding-left: 15px;
}

.up{
    display: none;
}

.down{
    display: block;
    position: relative;
    left: 50%;
    top: -5px;
    transform: translateX(-50%);
    padding: 0;
    margin-right: 0;
    width: 60%;
    line-height: 25px;
    list-style-type: none;
}

.down li{
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s;
}


.down li:hover{
    color: rgb(28, 212, 233);
}

.desktop-menu-items{
    width: 57%;
    margin-left: 17%;
    padding: 0.1%;
}

.desktop-menu-items ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}


.desktop-menu-items ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    transition: 0.3s
}

nav ul li a:hover{
    color: rgb(28, 212, 233)
}

.banner-section{
    width: 100%;
    height: 115vh;
    background-image: url('../Imagens_teste-master/web/s1 ft1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.banner-section .full-digital{
    width: 65%;
    height: 500px;
    font-weight: 300;
    margin: 0 auto;
    position: relative;
    top: 48.5%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 140px;
    
}

.full-digital h1{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 7.4vw;
    position: relative;
}

.banner-section  p{
    margin: 0 auto;
    width: 50%;
    font-weight: lighter;
    margin-top: 60px;
}

.banner-section .banner-btn{
    width: 270px;
    margin: 0 auto;
    margin-top: 70px;
    background-color: rgb(28, 212, 233);
    padding: 20px 15px;
    border-radius: 35px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.about{
    width: 100%;
    position: relative;
    top: -50px;
    padding: 0 20px; 
    transform: scale(0.9);
}

.sobre-container{
    width: 75%;
    height: 500px;
}

.sobre-container h2{
    color: black;
    font-size: 40px;
    margin-top: 10px;
}


.sobre{
    color: black;
    background-color: white;
    box-shadow: 1px -2px 27px -11px rgba(0,0,0,1);
    margin-top: 95px;
    padding: 35px;
}

.sobre p:not(:first-of-type){
    margin-top: 20px;
}

.servicos{
    width: 100%;
    height: 600px;
    display: inline-block;
    margin-top: 180px;
    
}


.servicos h2{
    color: black;
    font-size: 40px;
    
}

.serv{
    margin-top: 55px;
    margin-left: -15px;
    height: 450px;
    float: left;
    width: calc(99% / 3);
    background-image: url('../Imagens_teste-master/web/s3\ ft3.png');
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
    padding: 45px 0;
}

.serv:not(:first-of-type){
    margin-left: 10px;
}

    

.serv h3{
    white-space: nowrap;
    margin: 0 auto;
    justify-content: center;
}

.serv p{
    width: 85%;
    margin: 0 auto;
    margin-top: 45px;
}

.serv p:nth-of-type(2){
    margin-top: 55px;
}
.servico1{
    background-image: url('../Imagens_teste-master/web/s3\ ft1.png');
}
.servico2{
    background-image: url('../Imagens_teste-master/web/s3\ ft2.png');
}
.servico3{
    background-image: url('../Imagens_teste-master/web/s3\ ft3.png');
}




.diferente{
    width: 100%;
    height: 600px;
    display: inline-block;
    margin-top: 80px;
}


.diferente h2{
    color: black;
    font-size: 40px;
    
}

.dife{
    margin-top: 55px;
    margin-left: -15px;
    height: 450px;
    float: left;
    width: calc(75% / 3);
    background-image: url('../Imagens_teste-master/web/s3\ ft3.png');
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
    padding: 45px 0;
}

.dife:not(:first-of-type){
    margin-left: 10px;
}

    

.dife h3{
    white-space: nowrap;
    margin: 0 auto;
    justify-content: center;
}

.dife p{
    width: 85%;
    margin: 0 auto;
    margin-top: 45px;
}

.dife p:nth-of-type(2){
    margin-top: 55px;
}
.diferencial1{
    background-image: url('../Imagens_teste-master/web/s4\ ft1.png');
}
.diferencial2{
    background-image: url('../Imagens_teste-master/web/s4\ ft2.png');
}
.diferencial3{
    background-image: url('../Imagens_teste-master/web/s4\ ft3.png');
}

footer{
    width: 100%;
    height: 730px;
    background-color: rgb(25, 25, 25);
}

.f-line{
    height: 55px;
    width: 100%;
    background-color: rgb(209, 201, 9);
}
/**/
.footer-line-down{
    position: absolute;
    z-index: 999;
}

.container{
    width: 100%;
    height: 590px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateY(-30%) translateX(-50%);
}

.f-inner{
    vertical-align: middle;
    width: 30%;
    height: 75%;
}

.footer-left{
    float: left;
    width: 50%;
    height: 100%;
}

.left-container{
    padding-left: 8%;
}

.right-container{
    padding-left: 0%;
}


.icons{
    height: 40px;
    position: relative;
    padding-right: 32%;
}

.footer-logo{
    height: 40px;
    width: 150px;
    background-image: url('../Imagens_teste-master/web/logo.png');
    background-size: 100% 100%;
    background-position: center;
    float: left;
}


.facebook {
    height: 38px;
    width: 43px;
    background-image: url('../Imagens_teste-master/web/facebook-icon.png');
    filter: grayscale(1) invert(1);
    background-size: 100% 100%;
    float: right;
    margin-right: 32px;
    margin-top: 1px;
}

.linkedin{
    height: 30px;
    width: 30px;
    background-image: url('../Imagens_teste-master/web/linkedin-icon.png');
    filter: grayscale(1) invert(1);
    background-size: 100% 100%;
    float: right;
    margin-right: -10px;
    margin-top: 5px;
}

.email-cel-container{
    height: 30px;
    width: 450px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-top: 35px;
}

.email, .phone{
    display: flex;
    flex-direction: row;
    height: 28px;
    width: 200px;
}

.email i{
    line-height: 28px;
}

.phone i{
    line-height: 30px;
}

.email span, .phone span{
   line-height: 28px;
   margin-left: 13px;
   opacity: 0.7;
}

.splitter{
    height: 22px;
    width: 1px;
    margin-top: 2px;
    background-color: white;
    margin-left: 69px;
    margin-right: 69px;
    opacity: 0.4;
}


.address{
    position: absolute;
    margin-top: 35px;
    width: 450px;
    display: flex;
    flex-direction: row;
}


.address-span{
    font-size: 9px;
    opacity: 0.6;
    margin-left: 17px;
    text-align: left;
}


.footer-lorem{
    margin-top: 110px;
    position: relative;
}


.footer-lorem p{
    margin-bottom: 26px;
    width: 70%;
}


.footer-right{
    float: right;
    height: 100%;
    width: 50%;
}

footer form{
    background-color: rgb(129, 129, 129);
    height: 100%;
    width: 85%;
    position: relative;
    right: -5%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

footer form input{
    border: none;
    margin-bottom: 35px;
    height: 60px;
    padding: 15px;
    font-size: 22px;
}
footer form input::placeholder{
    color: rgb(215, 215, 215);
}


footer form textarea{
    resize: none;
    border: none;
    padding: 15px;
    font-size: 22px;
}

footer form textarea::placeholder{
    color: rgb(215, 215, 215);
}

footer form input[type=submit]{
    margin-top: 35px;
    height: 65px;
    background-color: rgb(28, 212, 233);
    border: 0;
    color: white;
    font-size: 22px;
    cursor: pointer;
}








@media screen and (max-width: 1029px){
    div.desktop-menu-items{
        width: 70%;
        margin-left: 7%;

    }
}

@media screen and (max-width: 853px){
    div.logo{
        margin: 20px auto;
    }

    div.desktop-menu-items{
        display: none
    }

    div.mobile-menu-items{
        display: flex;
        flex-direction: column;
    }
    label{
        display: block;
    }
    .banner-section{
        background-size: 170% 120%;
        background-position: center
    }
    section.banner-section  p{
        position: relative;
        top: -130px;
        width: 75%;
    }
    .banner-section .full-digital{
        top: 35%;
    }
}